html {
    margin: 10px;
    border: 6px solid;
    border-color: #6d1d06;
}

head {
    
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    background-color: #6d1d06;
    color: #fff600;
    font-size: 20px;
}

.head {
    
}

#logo {
    padding: 0px 0px 0px 0px;
    float: left;
    width: 200px;
}

#menu ul{
    
}

#menu ul li {
    display: inline;
    float: left;
    padding: 0px 100px 0px 0px;
    font-size: 20px;
}

#menu ul li a {
    text-decoration: none;
    color: #000000
}

#menu ul li a:hover {
    background-color: #fff600;
    
}

.all {
    padding-left: 150px;
}

footer {
    background-color: #6d1d06;
}

.text_background {
    color: #fff600;
    font-size: 20px;
    padding-left: 150px;
}

.phone {
    color: aliceblue;
}

.mail {
    color: #ffffff;
    text-decoration: none;
}

.text_footer {
    text-align: left;
    width: 25%;
}

.network {
    text-align: right;
    display: inline
}

.social_network {
    width: 40px;
    height: 40px;
}